@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    font-family: "Outfit", sans-serif !important;
}
.bg-d{
    background-color: rgb(233, 233, 233);
    border-radius: 2px;
}
.bg-d>i{
    font-size: 12px;
}
.span-head{
    font-size: 14px;
}